
    body {
        font-family: sans-serif;
        width: auto;
        border: auto; 
        padding: auto; 
        margin: auto;
        background-color: whitesmoke;
        border: 10px;

        color: black;
        width: 50%;
        padding: 10px;
      }

      a {
        color: black;
      } 
    

       /* header.Usrername {
        
      }  */
      nav {
        line-height: 27px;
        font-size: 18px;
        
      }

    